<div class="index-wrapper">
 
  <%= render partial: "boards/index-navbar", locals: { companies:@companies } %>

  <div class="container card-conatainer">
    <div class="row">
      <div class="col-md-4">
        <div class="kpi-card-1">
          <div class="kpi-title">
            <h2 class="text-gray">資金収支</h2>
            <h3>選択ボタン</h3>
          </div>
          <div class="kpi-summary">
            <p class="text-gray kpi-highlight"><%= @b_last_balance.div(1000).to_s(:delimited) %> 千円</p>
            <p class="text-gray kpi-discrption">現在の銀行残高 (同期口座)</p>
          </div>
          <div class="kpi-graph">
            <div id="tester"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card-2">
          <div class="kpi-title">
            <h2 class="text-gray">未決済内訳</h2>
            <h3>期間の選択</h3>
          </div>
          <div class="kpi-discrption text-gray">
            <p><%= @unsettled_in.div(1000).to_s(:delimited) %> 千円の未収</p>
          </div>
          <div class="kpi-graph-2">
             <div id="receivable_chart"></div>
          </div>
          <div class="kpi-discrption text-gray">
            <p><%= @unsettled_pay.div(1000).to_s(:delimited) %> 千円の未払</p>
          </div>
          <div class="kpi-graph">
            <div id="payable_chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card-3">
          <div class="kpi-title">
            <h2 class="text-gray">口座残高</h2>
          </div>
          <div class="text-gray">
            <h2>銀行</h2>
            <table>
              <tr>
                <td>同期口座の残高合計　　　</td>
                <td><%= @b_last_balance.div(1000).to_s(:delimited) %>　</td>
                <td>千円</td>
              </tr>
              <tr>
                <td>freee上の帳簿残高　　　</td>
                <td><%= @b_walletable_balance.div(1000).to_s(:delimited) %>　</td>
                <td>千円</td>
              </tr>
            </table>
          </div>
          <div class="kpi-graph text-gray">
            <h2>クレジットカード</h2>
            <table>
              <tr>
                <td>同期口座の残高合計　　　</td>
                <td><%= @c_last_balance.div(1000).to_s(:delimited) %>　</td>
                <td>千円</td>
              </tr>
              <tr>
                <td>freee上の帳簿残高　　　</td>
                <td><%= @c_walletable_balance.div(1000).to_s(:delimited) %>　</td>
                <td>千円</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="kpi-card-1">
          <div class="kpi-title">
            <h2 class="text-gray">営業損益</h2>
            <h3>期間の選択</h3>
          </div>
          <div class="kpi-summary">
            <p class="text-gray kpi-highlight"><%= @sign %> <%= @op_transition_prev_1month_abs.div(1000).to_s(:delimited) %> 千円</p>
            <p class="text-gray kpi-discrption">先月の営業損益</p>
          </div>
          <div class="kpi-graph-1">
            <div id="operating_profit_chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card-1">
          <div class="kpi-title">
            <h2 class="text-gray">収益 (売上高)</h2>
            <h3>期間の選択</h3>
          </div>
            <div class="kpi-summary">
            <p class="text-gray kpi-highlight"><%= @rev_transition_prev_1month.div(1000).to_s(:delimited) %> 千円</p>
            <p class="text-gray kpi-discrption">先月の収益合計額</p>
          </div>
          <div class="kpi-graph-1">
            <div id="revenue_chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kpi-card-1">
          <div class="kpi-title">
            <h2 class="text-gray">経費 (原価を除く)</h2>
            <h3>期間の選択</h3>
          </div>
            <div class="kpi-summary">
            <p class="text-gray kpi-highlight"><%= @cost_transition_prev_1month.div(1000).to_s(:delimited) %> 千円</p>
            <p class="text-gray kpi-discrption">先月の経費合計額</p>
          </div>
          <div class="kpi-graph-1">
            <div id="cost_chart"></div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
  <%= render partial: "boards/index-footer" %>
 
  
    <script>
      TESTER = document.getElementById('tester');
      var xValue = ["<%= @tsukimae_3.to_i() %>月", "<%= @tsukimae_2.to_i() %>月", "<%= @tsukimae_1.to_i() %>月", "<%= @kongetsu.to_i() %>月"];
      var y1Value = [12<%#= @cash_inflow_3prev_month.to_s(:delimited) %>, 22<%#= @cash_inflow_2prev_month.to_s(:delimited) %>, 34<%#= @cash_inflow_prev_month.to_s(:delimited) %>, 26<%#= @cash_inflow_this_month.to_s(:delimited) %>];
      var y2Value = [18<%#= @cash_outflow_3prev_month.to_s(:delimited) %>, 34<%#= @cash_outflow_2prev_month.to_s(:delimited) %>, 22<%#= @cash_outflow_prev_month.to_s(:delimited) %>, 39<%#= @cash_outflow_this_month.to_s(:delimited) %>];
      var trace1 = {
        x: xValue,
        y: y1Value,
        name: '収入',
        type: 'bar',
        text: y1Value.map(String),
        textposition: 'auto',
        hoverinfo: 'none',
        marker: {
          color: 'rgba(170, 200, 255, 1)'
        }
        };

      var trace2 = {
        x: xValue,
        y: y2Value,
        name: '支出',
        type: 'bar',
        text: y2Value.map(String),
        textposition: 'auto',
        hoverinfo: 'none',
        marker: {
          color: 'rgba(255, 184, 162, 1)'
        }
        };

      var data = [trace1, trace2];
      var layout = {
        barmode: 'group',
        legend: {
          x: 0.5,
          xanchor: 'center',
          y: -0.4,
          yanchor: 'bottom',
          orientation: 'h',
          font: {
            size: 10
          },
          itemclick: 'toggleothers'
        },
        margin: {
          b: 0,
          l: 20,
          r: 0,
          t: 10
        },
        height: 175
      };
      var config = {
        responsive: true,
        displayModeBar: false
      };
      Plotly.newPlot('tester', data, layout, config);
    </script>
    <script>
      RECIEVABLE_CHART = document.getElementById('receivable_chart');
      var x1Value = [<%= @unsettled_in_aft_due.to_s(:delimited) %>];
      var x2Value = [<%= @unsettled_in_bef_due.to_s(:delimited) %>];
      var yValue = [''];
      var trace1 = {
        x: x1Value,
        y: yValue,
        name: '期限到来+未設定',
        type: 'bar',
        orientation: 'h',
        text: x1Value.map(String),
        textposition: 'auto',
        insidetextanchor: 'middle',
        hoverinfo: 'x',
        marker: {
          color: 'rgba(250, 100, 20, 1)'
          }
      };
      var trace2 = {
        x: x2Value,
        y: yValue,
        name: '期限未到来',
        type: 'bar',
        orientation: 'h',
        text: x2Value.map(String),
        textposition: 'auto',
        insidetextanchor: 'middle',
        hoverinfo: 'x',
        marker: {
          color: 'rgba(217, 217, 217, 1)'
          }
      };
      var data = [trace1, trace2];
      var layout = {
        barmode: 'stack',
        legend: {
                  x: 0.5,
                  xanchor: 'center',
                  y: -2,
                  yanchor: 'bottom',
                  orientation: 'h',
                  font: {
                    size: 10
                  },
                  traceorder: 'normal',
                  itemclick: 'toggleothers'
        },
        xaxis: {
          showgrid: false,
          showticklabels: false
        },
        margin: {
          t: 0,
          r: 0,
          b: 0,
          l: 20
        },
        height: 87
      };
      var config = {
        responsive: true,
        displayModeBar: false
      };
      Plotly.newPlot('receivable_chart', data, layout, config)
    </script>
    <script>
      PAYABLE_CHART = document.getElementById('payable_chart');
      var x1Value = [<%= @unsettled_pay_aft_due.to_s(:delimited) %>];
      var x2Value = [<%= @unsettled_pay_bef_due.to_s(:delimited) %>];
      var yValue = [''];
      var trace1 = {
        x: x1Value,
        y: yValue,
        name: '期限到来+未設定',
        type: 'bar',
        orientation: 'h',
        text: x1Value.map(String),
        textposition: 'auto',
        insidetextanchor: 'middle',
        hoverinfo: 'x',
        marker: {
          color: 'rgba(250, 100, 20, 1)'
          }
      };
      var trace2 = {
        x: x2Value,
        y: yValue,
        name: '期限未到来',
        type: 'bar',
        orientation: 'h',
        text: x2Value.map(String),
        textposition: 'auto',
        insidetextanchor: 'middle',
        hoverinfo: 'x',
        marker: {
          color: 'rgba(217, 217, 217, 1)'
          }
      };
      var data = [trace1, trace2];
      var layout = {
        barmode: 'stack',
        legend: {
                  x: 0.5,
                  xanchor: 'center',
                  y: -2,
                  yanchor: 'bottom',
                  orientation: 'h',
                  font: {
                    size: 10
                  },
                  traceorder: 'normal',
                  itemclick: 'toggleothers'
        },
        xaxis: {
          showgrid: false,
          showticklabels: false
        },
        margin: {
          t: 0,
          r: 0,
          b: 0,
          l: 20
        },
        height: 87
      };
      var config = {
        responsive: true,
        displayModeBar: false
      };
      Plotly.newPlot('payable_chart', data, layout, config)
    </script>
    <script>
      OPERATING_PROFIT_CHART = document.getElementById('operating_profit_chart');
      var xValue = ["<%= @tsukimae_5.to_i() %>月", "<%= @tsukimae_4.to_i() %>月", "<%= @tsukimae_3.to_i() %>月", "<%= @tsukimae_2.to_i() %>月", "<%= @tsukimae_1.to_i() %>月", "<%= @kongetsu.to_i() %>月"];
      var yValue = [<%= @op_transition_prev_5month.to_s(:delimited) %>, <%= @op_transition_prev_4month.to_s(:delimited) %>, <%= @op_transition_prev_3month.to_s(:delimited) %>, <%= @op_transition_prev_2month.to_s(:delimited) %>, <%= @op_transition_prev_1month.to_s(:delimited) %>, <%= @op_transition_this_month.to_s(:delimited) %>];
      var trace1 = {
        x: xValue,
        y: yValue,
        name: '営業損益',
        type: 'scatter',
        mode: 'lines+markers',
        textposition: 'bottom center',
        hoverinfo: 'x+y'
      };

      var data = [trace1];

      var layout = {
        showlegend: false,
        yaxis: {
          rangemode: 'tozero',
          autorange: true
          },
        margin: {
          t: 5,
          r: 25,
          b: 25,
          l: 25
        },
        height: 175
      };
      
      var config = {
        responsive: true,
        displayModeBar: false
      };
      
      Plotly.newPlot('operating_profit_chart', data, layout, config)
    </script>
    <script>
      REVENUE_CHART = document.getElementById('revenue_chart');
      var xValue = ["<%= @tsukimae_5.to_i() %>月", "<%= @tsukimae_4.to_i() %>月", "<%= @tsukimae_3.to_i() %>月", "<%= @tsukimae_2.to_i() %>月", "<%= @tsukimae_1.to_i() %>月", "<%= @kongetsu.to_i() %>月"];
      var yValue = [<%= @rev_transition_prev_5month.to_s(:delimited) %>, <%= @rev_transition_prev_4month.to_s(:delimited) %>, <%= @rev_transition_prev_3month.to_s(:delimited) %>, <%= @rev_transition_prev_2month.to_s(:delimited) %>, <%= @rev_transition_prev_1month.to_s(:delimited) %>, <%= @rev_transition_this_month.to_s(:delimited) %>];
      var trace1 = {
        x: xValue,
        y: yValue,
        name: '収益',
        type: 'scatter',
        mode: 'lines+markers',
        textposition: 'bottom center',
        hoverinfo: 'x+y'
      };

      var data = [trace1];

      var layout = {
        showlegend: false,
        yaxis: {
          rangemode: 'tozero',
          autorange: true
          },
        margin: {
          t: 5,
          r: 25,
          b: 25,
          l: 25
        },
        height: 175
      };
      
      var config = {
        responsive: true,
        displayModeBar: false
      };
      
      Plotly.newPlot('revenue_chart', data, layout, config)
    </script>
    <script>
      COST_CHART = document.getElementById('cost_chart');
      var allValues = <%= @cost_prev_1month_array_values %>;
      var allLabels = <%= @cost_prev_1month_array_labels %>;
      var data = [{
        values: allValues,
        labels: allLabels,
        type: 'pie',
        textposition: 'inside',
        insidetextanchor: 'middle',
        hoverinfo: 'label+value+percent',
        direction: 'clockwise',
        sort: true
      }];

      var layout = {
        legend: {
          itemclick: false,
          font: {
            size: 10
          }
        },
        margin: {
          t: 0,
          r: 5,
          b: 15,
          l: 15
        },
        height: 175
      };

      var config = {
        responsive: true,
        displayModeBar: false
      };

      Plotly.newPlot('cost_chart', data, layout, config);
    </script>
    
</div>  