<!DOCTYPE html>
<html>
  <head>
    <title>Managingboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'plotly-latest.min' %>
 
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>
    
    <footer class="footer-area">
      <hr>
      <div class="navigations">
        <ul class="link">
          <li><a target="_blank" href="#">利用規約</li>
          <li><a target="_blank" href="#">プライバシーポリシー</li>
          <li><a target="_blank" href="#">会社概要</li>
          <li><a target="_blank" href="#">お問合せ</li>
        </ul>
        <ul class="copyright">
          <li>Copyright 2022 STC LLC</li>
        </ul>
      </div>
    </footer>
    <script>
      $(document).on('turbolinks:load', function() {
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
